{% extends "base.html" %}

{% block title %}
    All Repos
{% endblock title %}

<title>
    All Repos
</title>


{% block content %}

<style>
    th {
      padding: 20px;
      
    }
    td {
        padding: 20px;
    }
</style>

<hr/>

<table>
    <thead> 
        <tr>
            <th scope="col">Repo Name</th>
    
            <th scope="col">Size</th>

            <th scope="col">Language</th>

            <th scope="col"></th>
            
        </tr>
        
    </thead>
    
    <tbody>
        {% for repo_dict in github_repos %}

            <tr>
                <td>
                    <strong>{{repo_dict.name}}</strong>
                    <hr/>
                </td>
                <td>
                    {{repo_dict.size}}
                    <hr/>
                </td>
        
                <td>
                    {{repo_dict.language}}
                    <hr/>
                </td>
        
                <td>
                    <a class="btn btn-warning" href="https://github.com/jadonhoang/{{repo_dict.name}}">View</a>
                </td>
            </tr>

        {% endfor %}
        
    </tbody>

    
</table>

{% endblock content %}


