
{% extends "base.html" %}


{% block title %}
    My Site - Home
{% endblock title %}


{% block content %}
<h1 class="display-5">Welcome to Jadon Hoang's Github Statistics!</h1>
<div class="jumbotron">
  <p>This is a webpage showing my statistics on Github. Currently, 
     there are only a few as I just started using Github but there will sure be a lot more
     in the future!
  </p>
  <hr class="my-4">
  <p>Learn more about my repos</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'all_repos' %}" role="button">List of my repos</a>
    <a class="btn btn-primary btn-lg" href="{% url 'repos_sizes' %}" role="button">Repos graphed by size</a>
  </p>
</div>

<div class="row">
  {% for panel in all_panels %}
      <div class="col-md">
        <div class="shadow border" style="text-align: center;">
          <p><strong><h4>{{panel.repo_name}}</h4></strong></p>
          <p>{{panel.description}}</p>
          <a href="/panel_details/{{panel.id}}">Click for repo details</a>
        </div>
      </div>
  {% endfor %}
</div>


{% endblock content %}

