
{% extends "base.html" %}


{% block title %}
    Home
{% endblock title %}


{% block content %}
<h1 class="display-5">Welcome to Jadon Hoang's Github Statistics!</h1>
<div class="jumbotron">
  <p>This is a webpage showing my statistics on Github. Currently, 
     there are only a few as I just started using Github but there will sure be a lot more
     in the future!
  </p>
  <hr class="my-4">
  <p>Learn more about my repos</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'all_repos' %}" role="button">List of my repos</a>
    <a class="btn btn-primary btn-lg" href="{% url 'repos_sizes' %}" role="button">Repos graphed by size</a>
  </p>
</div>

{% endblock content %}


