{% extends "base.html" %}

{% block content %}
<html>
    <body>

        <h1>{{panels.github_username}}</h1>
        <p>{{panels.description}}</p>


        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <embed type="image/svg+xml" src="{{ rendered_chart_svg|safe}}"/>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-warning" href="https://github.com/jadonhoang/{{repo_name}}">View</a>
                </div>
            
            </div>
        </div>

    </body>
</html>
{% endblock content %}


